@import 'colors';
@import 'loader';
@import 'markers';
@import 'results';

body,
html {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Sen', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.map-view-container {
  display: grid;
  grid-template-columns: 500px auto;
}

#map {
  height: 100vh;
  width: 100%;
}

#results {
  padding: 50px;
}
